{% extends 'base.html.twig' %}

{% block title %}Création d'une nouvelle Formation{% endblock %}

{% block body %}

    {{ include('formation/_form.html.twig') }}

    <a href="{{ path('formation_index') }}">Retour à la liste des formations</a>
{% endblock %}
