{% extends 'base.html.twig' %}
{% block title %}

{% endblock %}

{% block body %}

<center></br></br>
  <h2>Les Entreprises</h2></center>
</br></br></br>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Entreprise</th>
      <th scope="col">Activité</th>
      <th scope="col">Adresse</th>
      <th scope="col">Site Web</th>


    </tr>
  </thead>
  <tbody>

  {% for entrepriseCourante in entreprises %}

  <tr>

    <td>
      {{ entrepriseCourante.nom }}
    </td>
    <td>{{ entrepriseCourante.activite }}</td>
    <td>{{ entrepriseCourante.adresse }}</td>
    <td>{{ entrepriseCourante.siteWeb }}</td>

  </tr>

{% endfor %}
</tbody>
</table>

{% endblock %}
{% block footer %}
{% endblock %}
