{% extends 'base.html.twig' %}

{% block body %}
<h1>Cette page affiche la liste des formations de l'IUT</h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th>
              Formations
            </th>

          </thead>
          <tbody>
            <tr>

              <td>
                DUT Informatique
              </td>
              </tr>
              <tr>
                <td>
                  DU TIC
                </td>
              </tr>
              <tr>

                <td>
Licence Multimedia
              </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {% endblock %}
